<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.88.1">
  <title>HANDA</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">



  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .card-container {
      margin: 5px 5px;
      padding: 10px 70px 10px 70px;
    }

    .card-img {
      max-width: 780px;
    }

    .div.pa {
      padding: 10px 0px 20px 10px;
    }

    h2 {
      margin-left: 5px;
    }

    .bt-rg {
      margin-left: 10px;
      margin-right: 5px;
    }

    .hashtag {
      border: 1px solid #dadada;
      cursor: pointer;
      cursor: hand;
      background-color: #dadada;
      /* color: white; */
      padding: 5px;
      border-radius: 2em;
      font-size: small;
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="/css/headers.css" rel="stylesheet" type="text/css">
</head>

<body>

  <main>
    <header class="py-3 mb-3 border-bottom">
      <div class="container container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div class="d-flex">
  
          <h4 class="logo" onclick="location.href='/'">handa</h4>
        </div>
  
        <% if(logined=="true") { %>
        <!-- 로그인 후 -->
        <div class="d-flex align-items-center">
          <form action="/search" method="post" class="w-100 me-3">
            <!-- <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="word" value="<%=word%>"> -->
            <% var s_word = ""; %>
            <% if(word != "") { %>
              <% s_word = word %>
            <% } %>
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="word" value="<%=s_word %>">
          </form>
  
          <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="/question">질문하기</a></li>
              <li><a class="dropdown-item" onclick="window.open('/chat','chat','width=500,height=600,location=no,status=no,scrollbars=no');">채팅</a></li>
              <li><a class="dropdown-item" href="/my">내 정보</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
            </ul>
          </div>
        </div>
        <% } else { %>
  
        <!-- 로그인 전 -->
      <div class="d-flex align-items-center">
        <form action="/search" method="post" class="w-100 me-3">
          <!-- <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="word"> -->
          <% var s_word = ""; %>
            <% if(word != "") { %>
              <% s_word = word %>
            <% } %>
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="word" value="<%=s_word %>">
        </form>

        <div class="col-md text-end">
          <button type="button" class="btn btn-outline-warning" onclick="location.href='/login'">Login</button>
        </div>
      </div>
        <% } %>
  
      </div>
    </header>

    <!-- 여기다가 작업하세요 -->
    <!-- <div class="container">
            <div class="album py-3 ">
                <div class="row" id="test">
                    
                </div>
            </div>
        </div> -->
    <div class="container">
      <div class="card-container">
        <div class="pa">
          <!-- <p>문제</p> -->
          <h3 class="mb-4"> 검색결과 </h3>
        </div>

        <!-- <div class="card border-warning mb-3 ">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/images/heart.PNG" class="card-img" alt="!!HANDA!!">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">문제</h5><br>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.<br>Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p><br>
                <div class="d-flex l-flex">
                  <div class="col-md text-end">
                    <a href="#" class="btn bg-warning bt-rg">풀이 보기</a>
                  </div>

                  <p class="card-tag">#... #... #... #... #..sdsadasdasds.</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- 검색 결과 값 받아와 -->

        <% if(results == "") { %>
          <!-- <h2>검색 결과가 존재하지 않습니다.</h2> -->
          <div class="alert alert-secondary" role="alert">
            검색 결과가 존재하지 않습니다.
          </div>
          <% } else { %>

            <% for(var i=0; i<results.length; i++){ %>
              
              <% var q_id = results[i].q_id %>
              <% var ct_id = results[i].ct_id %>
              <% var q_img = results[i].q_img %>
              <% var ct_name = results[i].ct_name %>
              <% var h_name = results[i].h_name %>

              
  
              <div class="card border-warning mb-3" name="<%= q_id %>">
                <div class="row g-0">
                  <div class="card">
                    <div class="col-md-4 w-100">
                      <img class="card-img img-fluid" src="/images/question/<%= q_img %>" alt="<%= q_id %>"/>
                    </div>
                    <div class="card-body">
                      <div class="d-flex l-flex">
                        <form action="/solutions" method="post" class="col-md text-end">
                          <input type="hidden" name="q_id" value="<%= q_id %>">
                          <!-- <a href="#" class="btn bg-warning bt-rg">풀이 보기</a> -->
                          <button type="submit" class="btn bg-warning bt-rg">풀이 보기</button>
                        </form>
                        <div class="col-md">
                          <button type="button" class="btn hashtag"><%= ct_name %></button>
                          <button type="button" class="btn hashtag"><%= h_name %></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
            <% } %>
         <% } %>
        

      </div>
    </div>



    <!-- <script>
    var i = 5;
  
    var test = document.getElementById("test");
  
    var c = "";
  
    for(var a = 0; a < i; a ++){
      
    //   c += "<div class=\"col\">";
      c += "<div class=\"card\" style=\"width: 22rem;\">";
      c +=  "<img class=\"card_img\" src=\"/images/heart.PNG\" alt=\"\" />";
      c +=  "<div class=\"card-body\">";
      c += "<h5 class=\"card-title\">Lorem</h5>";
      c +=  "<a href=\"#\" class=\"btn btn-primary\">More</a>";
      c += "</div></div></div>";
  
    }
  
    test.innerHTML = c;
  </script> -->



    <!-- <script>
    var i = 5;
  
    var test = document.getElementById("test");
  
    var c = "";
  
    for(var a = 0; a < i; a ++){
      
    //   c += "<div class=\"col\">";
      c += "<div class=\"card border-warning mb-3\">";
      c += "<div class=\"row g-0\">";
      c += "<div class=\"col-md-4\">";
      c +=  "<img class=\"card_img\" src=\"/images/heart.PNG\" alt=\"!!HANDA!!\" />";
      c += "</div>";
      c += "<div class=\"col-md-8\">";
      c +=  "<div class=\"card-body\">";
      c += "<h5 class=\"card-title\">문제</h5>";
      c += "<p class=\"card-text\">Some quick example text to build on the card title and make up the bulk of the card's content.</p>";
      c +=  "<a href=\"#\" class=\"btn bg-warning\">풀이 보기</a>";
      c += "</div></div></div></div>";
  

    }
  
    test.innerHTML = c
  </script> -->

    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>



</body>

</html>